
.home-content h3{
	text-align: justify;
	font-size: 1.3em;
	line-height: 2.3em;
	letter-spacing: 1px;
	font-family: 'poppins', sans-serif;
}
.home-content img{
	height:400px;
}
h2{
	text-align:center;
	font-family: 'Source Serif Pro', serif;
	text-transform: uppercase;
	color: #e8e8e7;
	border-bottom: 2px solid #777777;
	padding: 1em;
}
.desktop{
	display: block;
}
.mobile{
	display: none;
}
@media only screen and (max-width: 600px){
	.desktop{
		display: none;
	}
	.mobile{
		display: block;
	}	
}
.well{
	background-color: inherit;
	border:none;
}
