.timeline-Widget {
    background-color: red;
}
.home-content h3{
	text-align: justify;
	font-size: 1.3em;
	line-height: 2.3em;
	letter-spacing: 1px;
	font-family: 'poppins', sans-serif;
}
.home-content img{
	height:400px;
}
.desktop{
	display: block;
}
.mobile{
	display: none;
}
@media only screen and (max-width: 600px){
	.desktop{
		display: none;
	}
	.mobile{
		display: block;
	}	
}
footer .container-fluid{
	text-align: left;
	padding:1px;
	border-top:2px solid #f6a406;
	background:#7b2005;
	margin-top:30px;
	color: white
}