@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
.container-fluid{
	background-color: #050303;
	background-image: url('../img/test.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 80% 5%;
	//animation: enter 2s forwards;
}
.dark{
	height: 100vh;
	background-color: #050303;
	opacity: 0.8;
	margin:0px;
	width: 100%;
}
.container-fluid{
	//margin-left:1304px;
	margin-left: 0px;
	padding:0;
	overflow: hidden;
}
.nav{
	margin-top: -200%;
	overflow: hidden;
	animation: navbarshow 1s 2s forwards;
}
.nav-pills>li>a {
    border-radius: 0px;
    background: none;
    font-size: 2em;
    color:#b3b3b3;
}
.nav-pills>li>a:hover {
    border-radius: 0px;
    background: none;
    color:white;
}
h1{
	cursor: default;
	font-family: 'Do Hyeon', sans-serif;
	color:#b3b3b3;
	text-align: center;
	margin-top: 20%;
	//margin-left: 60%;
	width: 0%;
	overflow:hidden;
	border-bottom:4px solid yellow;
	//padding: 2em;
	font-size: 11em;
	transition: 1s;
	animation: appear 2s .5s forwards;
}
.social{
	margin-top: 10%;
}
.scroll{
	text-align: center;
	margin-top: 8%;
}
.scroll .fas{
	cursor:pointer;
	border:2px solid #FFF176;
	border-radius: 100%;
	padding: 1em;
	color:white;
	position: relative;
	margin-top: 400px;
	animation: arrowappear 1s 2s forwards, blink 3s infinite;
}
@keyframes blink{
	0%{transform:scale(1);}
	50%{transform: scale(1.1);}
}
@keyframes appear{
	to{
		width: 100%;
	}
}
@keyframes arrowappear{
	to{
		margin-top:0px;
	}
}
@keyframes enter{
	
	to{
		margin-left:0;
	}
}
@keyframes navbarshow{
	to{
		margin-top: -10%;
	}
}
.social-mobile{
	display: none;
}
@media only screen and (max-width: 600px){
	.social{
		display: none;
	}
	.container-fluid{
		background-size: 100% 100vh;
		background-position: auto;
	}
	h1{
		font-size: 5em;
		margin-top:60%;
	}
	.social-mobile{
		display: block;
		text-align: center;
		margin-left: 5%;
	}
}